*{
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}
.primary-text{
    font-weight:bold;

}
.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    position: relative;
    margin: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn{
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
}
.btn-red a{
    background: red;
    float: left;
    width: 100%;
    line-height: 2.5rem;
    border-radius: 4px;
}
.background{
background: url(../img/background.jpg) no-repeat center center/cover;
/* position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh; */
}
.layer{
/* content: '';
position: absolute;
top: 0;
left: 0; */
min-height: 100vh;
background: url(../img/layer.png)no-repeat 0px 0px;
background-size: cover;
}
body{
    margin:auto;
    align-items: center;
}
h1{
   padding-top: 8rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}
#login-items{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#login-items .item{
    line-height: 1.3rem;
    flex: 1;
    padding: 0.5rem;
    width: 100%;
}
#login-items .item input,
#login-items .item .login{
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    width: 100%;
    font-size: 15px;
}
#login-items .item a{
    width: 100%;
}
#main-footer{
    padding-top:10rem;
}
@media (max-width:415px){
    #login-items{
        flex-direction: column;
        flex: 1;
        max-width: 80%;
        justify-content: center;
    }
    #login-items .item{
        width: 100%;
        padding: 0.2rem 0;
        flex: 0;
    }
    #main-footer{
        padding-top:0.5rem;
    }
    h1{
        padding-top: 2rem;
         margin-bottom: 1rem;
         font-size: 3rem;
    }
}
@media (max-width:500px){
    *{
        font-size: 0.8rem;
    }
    #login-items{
        flex-direction: column;
        flex: 1;
        max-width: 80%;
        justify-content: center;
        flex: 0;
    }
    #login-items .item input{
        width: 100%;
    }
    #main-footer{
        padding-top:1rem;
}
}